/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
/******************************************
/* LAYOUT
/*******************************************/
body{
  background: url('../img/bg2.jpg') repeat center/cover;
  background-color: green;
  color:white;
  font-family: 'Noto Serif', serif;
}
#heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#homePhoto{
  width: 45%;
}
img{
  display: block;
  margin: 0 auto;
}
.hide{
  display:none;
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  text-shadow: #045012 2px 3px 4px;
  opacity:0.8;
  color:red;
  font-size:4.5rem;
  margin: 1% 0;
}
button{
  border:1px solid #045012;
  box-shadow: 1px 2px 4px gray;
  opacity:0.9;
  height:2.5em;
  width:8em;
  font-size: 1.5rem;
  margin:2% 0;
  text-transform: uppercase;
  /* background-color: #120450; */
  color:#120450;
  cursor: pointer;
}
#cardInfo{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% 5%;

}
span{
  font-size:4rem;
}
h3{
  font-size:4rem;
  color:yellow;
  margin:0;
}
#player1Cards{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width:50%;
}
h6{
  font-size: 3rem;
  margin:0;
}
#player1Info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#player2Info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#player2Cards{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width:50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/*CARD*/
/*VARIABLES HERE*/
 


/* .card {
  position: relative;
  cursor: pointer;
  max-width: 400px;
  margin: 60px auto;
}
 
.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 
.card::before,
.card::after,
.card .card-inner {
  background-color: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
  border-radius: 5px;
  transition: transform 0.3s;
}
 
.card::before,
.card-inner {
  z-index: 1;
}
 
.card-inner {
  position: relative;
  padding: 3rem;
} */
